.navbar {
  background-color: #fff;
  border-bottom: solid 1px grey;
  box-shadow: 5px 5px 2px #888888;
}

body {
  padding-top: 70px;
}

.topRow {
  height: 50px;
  font-size: 1.5em;
  margin-top: 10px;
}

.checkboxRow {
  height: 50px;
  margin-top: 10px;
}

.checkboxRow div label {
  margin-left: 5px;
}

.messagesRow {
  height: 40px;
  font-size: 1.25em;
  margin-top: 10px;
}

.outputRow {
  height: 400px;
  border: solid 1px black;
  margin-top: 5px;
  overflow: auto;
  padding: 5px;
}

.outputField {

}

.enterMessage {
  width: 400px;
  border: solid 1px black;
}

.clearButton {
  border: solid 1px black;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  background-color: #ddd;
}

.delete {
  margin-left: 15px;
  margin-bottom: 15px;
}

/*Bootstrap Media Breaks*/

/*
<768px is xs | container width will be auto | use .col-xs-
768 to 991 is s | container width will be 750 | use .col-sm-
992 to 1199 is md | container width will be 970 | use .col-md-
1200+ is lg | container width will be 1170 | use .col-lg-
*/

/*lg*/
@media (min-width: 1200px) {

}

/*md*/
@media (max-width: 1199px) {

}

/*sm*/
@media (max-width: 991px) {
  .clearButton {
    font-size: 12px;
  }

}

/*xs*/
@media (max-width: 767px) {
  body {
    padding-top: 110px;
  }
  .topRow {
    height: 100px;
  }
  .checkboxRow {
    height: 70px;
  }
  .messagesRow {
    height: 30px;
  }
  .enterMessage {
    max-width: 50vw;
  }
  .clearButton {
    width: 150px;
  }
  .clearButtonDiv {
    margin-left: -10px;
  }
  .inputDiv {
    margin-left: 5px;
  }
  .outputRow {
    height: 500px;
    max-width: 90vw;
    margin: 10px auto;
  }
}



/*/*Styling for checkboxes*/

/*Dark Theme*/


.bodyDark {
  background-color: #555;
  color: white;
}
.navbarDark {
  background-color: #555;
  border-bottom: solid 1px #444;
  box-shadow: 5px 5px 2px #222;
}
.enterMessageDark {
  color: black;
}
.buttonDark {
  color: black;
}
/*Large Text Theme*/


/*

.checkboxRow div:first-child {
  width: 0px;
}
.checkboxRow div:nth-child(2) {
  margin-left: 45px;
  width: 200px;
}
.checkboxRow div:nth-child(3) {
  margin-left: 75px;
  width: 200px;
}
.messagesRow p {
  font-size: 1.35em;
}
.outputField span {
  font-size: 1.35em;
}
.outputField button {
  font-size: 1.25em;
}
*/

button {
  color: black;
}

.outputField button {
  border: solid 1px black;
  border-radius: 5px;
  font-size: 13px;
  padding: 3px;
  background-color: #ddd;
}

.outputField {
  padding-top: 10px;
}
img {
  border-radius: 7px;
  margin-left: 5px;
}

.darkThemeDiv {
  border-radius: 7px;
  background-color: #555;
  color: white;
  border: solid 1px white;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 5px;
  height: 32px;
  padding-top: 4px;
  box-shadow: 5px 5px 2px #888888;
}

.largeThemeDiv {
  font-size: 1.25em;
  border: solid 1px black;
  border-radius: 7px;
  width: 200px;
  height: 32px;
  box-shadow: 5px 5px 2px #888888;
}

/**/
.darkThemeDivLarge {
  font-size: 1.25em;
  padding-top: 0;
  padding-left: 4px;
}

.outputFieldLarge {
  font-size: 1.5em;
}



